<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css">
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <div class="home">
    <div class="glideHeroHome">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">

            <div class="backgroundBannerWrapper bannerOne">&nbsp;</div>

            <div class="infoBannerWrapper">
              <div>
                <p class="bannerName">Resident Evil Village</p>
                <h2 class="bannerTitle">Continua con la historia de Ethan Winters</h2>
                <p class="available">PS4, PS5, Xbox One, Xbox Serie S</p>
                <p class="price">$195.000</p>
              </div>
              <div>
                <a href="#" class="btn-secondary detailBanner">Ver detallles</a>
              </div>
              </a>

          </li>
          <li class="glide__slide">
            <div class="backgroundBannerWrapper bannerTwo">&nbsp;</div>

            <div class="infoBannerWrapper">
              <div>
                <p class="bannerName">It takes two</p>
                <h2 class="bannerTitle">Busca un compañero y juntos pónganse en la piel de May y Cody</h2>
                <p class="available">Xbox One, PlayStation 4, PlayStation 5, PC (Microsoft Windows), Xbox Series</p>
                <p class="price">$210.000</p>
              </div>
              <div>
                <a href="#" class="btn-secondary detailBanner">Ver detallles</a>
              </div>
              </a>
          </li>
          <li class="glide__slide">
            <div class="backgroundBannerWrapper bannerThree">&nbsp;</div>

            <div class="infoBannerWrapper">
              <div>
                <p class="bannerName">Horizon Forbidden West</p>
                <h2 class="bannerTitle">La historia de Aloy continua en una America futurista al este</h2>
                <p class="available">PlayStation 4, PlayStation 5</p>
                <p class="price">$189.900</p>
              </div>
              <div>
                <a href="#" class="btn-secondary detailBanner">Reservalo ahora</a>
              </div>
              </a>
          </li>
          <li class="glide__slide">
            <div class="backgroundBannerWrapper bannerFour">&nbsp;</div>

            <div class="infoBannerWrapper">
              <div>
                <p class="bannerName">Halo Infinite</p>
                <h2 class="bannerTitle">Master Chief esta de vuelta</h2>
                <p class="available">Xbox One, PC (Microsoft Windows), Xbox Series</p>
                <p class="price">$209.900</p>
              </div>
              <div>
                <a href="#" class="btn-secondary detailBanner">Reservalo ahora</a>
              </div>
              </a>
          </li>
        </ul>
      </div>

      <div data-glide-el="controls" class="controls">
        <button data-glide-dir="<">Back</button>
        <button data-glide-dir=">">Next</button>
      </div>

      <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0">Resident Evil Village</button>
        <button class="glide__bullet" data-glide-dir="=1">It takes two</button>
        <button class="glide__bullet" data-glide-dir="=2">Horizon Forbbiden west</button>
        <button class="glide__bullet" data-glide-dir="=3">Halo Infinite</button>
      </div>
    </div>

    <div class="nuevas-aventuras">
      <h4 class="title-section">Explora nuevas aventuras</h4>
      <a href="/productos/juegos">Ver todos</a>
    </div>

    <div class="nueva-generacion">
      <p>Bienvenido a la<span class="segunda-parte"> nueva generación</span></p>
    </div>

    <div class="imagenes-consolas">
      <a href="/productos/consolas/ps5">
        <div class="consola-1">
          <div class="imagen-consola-1">
            <img class="imagen-ps5" src="/images/products/ps5-controller.png">
          </div>
          <div class="info-consola-1">
            <p class="nombre-consola">Play Station 5</p>
            <p class="explorar">Explorar<span> ></span></p>
          </div>
        </div>
      </a>

      <a href="/productos/consolas/xbox-series-x">
        <div class="consola-2">
          <div class="imagen-consola-2">
            <img class="imagen-xbox" src="/images/products/xbox-controller.png">
          </div>
          <div class="info-consola-2">
            <p class="nombre-consola">XBOX Series X</p>
            <p class="explorar">Explorar<span> ></span></p>
          </div>
        </div>
      </a>
      <a href="/productos/consolas/nintendo-switch">
        <div class="consola-3">
          <div class="imagen-consola-3">
            <img class="imagen-switch" src="/images/products/switch-controller.png">
          </div>
          <div class="info-consola-3">
            <p class="nombre-consola">Nintendo Switch</p>
            <p class="explorar">Explorar<span> ></span></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  </div>

  <div class="pc-gaming">PC Gaming</div>

  <div class="secciones-pc-gaming">
    <div class="headphones-monitores">
      <a href="/productos/accesorios">
        <div class="headphones">
          <img class="imagen-headphones" src="/images/products/headphones.png">
          <p>Accesorios</p>
        </div>
      </a>
      <a href="/productos/accesorios/monitores">
        <div class="monitores">
          <img class="imagen-monitor" src="/images/products/curved-monitor.png">
          <p>Monitores</p>
        </div>
      </a>

    </div>


    <a href="/productos/sillas-gamer"></a>
      <div class="sillas-gamer">
          <img class="imagen-silla" src="/images/products/silla-gamer.png">
          <p>Sillas Gamer</p>
      </div>
    </a>

  </div>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script src="/js/sliders.js"></script>
</body>

</html>