<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <header>
         <%- include('../partials/header.ejs') %>
    </header>
   
    <div class="bulletPurchase">
        <img src="/images/iconSpaceShip.svg" alt="">
        <div class="BulletInfoWrapper">
            <h4>Gracias por tu compra!</h4>
            <p>Pronto recibiras tu pedido</p>
        </div>
        <a class="linkSmall" href="/productos">Continuar comprando</a>
    </div>
   
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>