.not-found{
    //display: flex;
    //align-items: center;
    //justify-content: center;
    padding-top: 50px;
    height:650px;
    font-size:70px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image: url('../../images/products/controles-error.jpg');
}
