<section class="footerWrapper">
    <div class="brandContainer">
        <img class="imagesBrand" src="/images/Logo.svg" alt="" srcset="">
        <div class="rrssWrapper">
            <a href="#">
                <img src="/images/iconYoutube.svg" alt="Ir al canal de youtube">
            </a>
            <a href="#">
                <img src="/images/iconTwich.svg" alt="Ir al canal de twich">
            </a>
            <a href="#">
                <img src="/images/iconFacebook.svg" alt="Visitar página de Facebook">
            </a>
            <a href="#">
                <img src="/images/iconInstagram.svg" alt="Visitar perfil de Instagram">
            </a>
            <a href="#">
                <img src="/images/iconTwitter.svg" alt="Visitar perfil de Twitter">
            </a>
        </div>
    </div>

    <div class="wrapperTagline">
        <p class="taglineBig">SLEEP. EAT. <span>PLAY.</span> REPEAT. </p>
        <p class="taglineBig">SLEEP. EAT. <span>PLAY.</span> REPEAT. </p>
        <p class="taglineBig">SLEEP. EAT. <span>PLAY.</span> REPEAT. </p>
    </div>

    <hr class="borderFooter">

    <div class="wrapperBulletsStore">
        <div class="bulletStore bulletStoreOne">
            <img src="/images/iconAboutUs.svg" alt="">
            <div class="BulletInfoWrapper">
                <h4>¿Quienes somos?</h4>
                <p>Déjanos explicarte un poco más sobre nosotros.</p>
                <a href="#">Acerca de Gamebox</a>
            </div>
        </div>

        <div class="bulletStore bulletStoreTwo">
            <img src="/images/iconSpaceShip.svg" alt="">
            <div class="BulletInfoWrapper">
                <h4>Entregamos en 24 horas</h4>
                <p>a ciudades principales.</p>
                <a href="#">Información sobre envios</a>
            </div>
        </div>

        <div class="bulletStore bulletStoreThree">
            <img src="/images/iconHelp.svg" alt="">
            <div class="BulletInfoWrapper">
                <h4>Servicio al cliente</h4>
                <p>Estamos para ayudarte a encontrar tu próxima gran aventura.</p>
                <a href="#">Necesito ayuda</a>
            </div>
        </div>
    </div>

    <hr class="borderFooter">

    <div class="legalWrapper">
        <p class="legal">
            Gamebox 2021. Todos los derechos registrados<sup>®</sup> 
        </p>
        <p class="thanks">
            Desde Colombia y Perú con ❤️ para el mundo
        </p>
    </div>
</section>

<script src="/js/uiFunctions.js"></script>