<div class="header">
    <div class="headerWrapper">
        <div class="triggerMenu" id="showLeft">
            <div class="burgerInner">
                <span class="burgerInnerLine"></span>
                <span class="burgerInnerLine"></span>
                <span class="burgerInnerLine"></span>
            </div>
        </div>

        <a href="/" class="logo-image" target="_self">
            <img src="/images/logo.svg" alt="Gambox logo - Ir al inicio">
        </a>

        <div class="userActions">
            <!-- <span class="fa-stack fa-2x has-badge" id="cartCount" data-count="0">
                <i class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
            </span> -->
            <a href="/carrito-de-compras" class="userCart" id="cartCount" data-count="0">
                <img src="/images/iconCart.svg" alt="Ver productos en mi carrito">
            </a>
            <% if (locals.isLogged) { %>
                <a href="#" class="userAccount">
                    <img src="/images/iconUser.svg" alt="Iniciar sesión">

                    <div class="userAccountInfo">
                        <p>¡Hola, <%= user.firstName %>! <img src="/images/iconChevronDownWhite.svg" alt=""></p>
                        <span>Nos alegramos de verte</span>
                    </div>
                </a>

                <div id="userMenu" class="userMenuParent">
                    <ul class="userMenu">
                        <li class="itemMenu">
                            <a href="/usuarios/perfil">
                                <span>Mi cuenta</span>
                                <img src="/images/iconUserOrange.svg" alt="">
                            </a>
                        </li>
                        <li class="itemMenu">
                            <a href="/admin/productos/crear">
                                <span>Crear productos</span>
                                <img src="/images/iconProductsOrange.svg" alt="">
                            </a>
                        </li>
                        <!-- <li class="itemMenu">
                            <a href="">
                                <span>Manejo de usuarios</span>
                                <img src="/images/iconUsersOrange.svg" alt="">
                            </a>
                        </li> -->
                        <!-- <li class="itemMenu">
                            <a href="">
                                <span>Pedidos</span>
                                <img src="/images/iconOrdersOrange.svg" alt="">
                            </a>
                        </li> -->
                        <li class="itemMenu">
                            <a href="/logout">
                                <span>Cerrar sesión</span>
                                <img src="/images/iconLogoutOrange.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

                <% } else { %>
                    <a href="/login" class="userAccount">
                        <img src="/images/iconUser.svg" alt="Iniciar sesión">

                        <div class="userAccountInfo">
                            <p>Mi cuenta</p>
                            <span>Ingresa o crea tu cuenta</span>
                        </div>
                    </a>

                    <% } %>
                        <% if (locals.isLogged) { %>
                            <!-- <a href="/logout" class="userLogout">
                                <img src="/images/iconSignOut.svg" alt="Cerrar sesión">
                                <i class="fas fa-sign-out-alt"></i>
                            </a> -->
                            <% } %>
        </div>

        <form id="searchBar" action="/productos" method="GET" autocomplete="off">
            <div style="display: flex; position: relative;">
                <input type="text" id="search-input" name="search" placeholder="¿Qué estas buscando?"> 
                <span><button id="search-link" type="submit"><i class="fa fa-search"></i></button></span>
            </div>
        </form>

        <div class="productsMenu">
            <a href="#" class="categoriesLink">
                <img src="/images/iconMenu.svg" alt="icono menu" width="16">
                <span>Categorias</span>
            </a>

            <nav class="sideMenu" id="sideMenu">
                <ul class="menu">
                    <li class="itemMenu">
                        <a href="/productos/consolas" target="_self">
                            <span>Consolas</span>
                            <img src="/images/iconChevronRight.svg" alt="Ir a la sección consolas">
                        </a>
                    </li>
                    <li class="itemMenu">
                        <a href="/productos/juegos" target="_self">
                            <span>Videojuegos</span>
                            <img src="/images/iconChevronRight.svg" alt="Ir a la sección videojuegos">
                        </a>
                    </li>
                    <li class="itemMenu">
                        <a href="/productos/juegos/retro" target="_self">
                            <span>Retrogaming</span>
                            <img src="/images/iconChevronRight.svg" alt="Ir a la sección Retrogaming">
                        </a>
                    </li>
                    <li class="itemMenu">
                        <a href="/productos/accesorios" target="_self">
                            <span>Accesorios videojuegos</span>
                            <img src="/images/iconChevronRight.svg" alt="Ir a la sección Accesorios videojuegos">
                        </a>
                    </li>
                    <li class="itemMenu">
                        <a href="/productos/computadores" target="_self">
                            <span>PC Gaming</span>
                            <img src="/images/iconChevronRight.svg" alt="Ir a la sección PC Gaming">
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="mainCategories">
                <ul>
                    <li class="mainCategoriesItem">
                        <a href="/productos/juegos/ps5">PlayStation</a>
                    </li>
                    <li class="mainCategoriesItem">
                        <a href="/productos/juegos/xbox-series-x">XBOX</a>
                    </li>
                    <li class="mainCategoriesItem">
                        <a href="/productos/juegos/nintendo-switch">Nintendo Switch</a>
                    </li>
                    <li class="mainCategoriesItem">
                        <a href="/productos/computadores">Computadores</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>