@import 'buttons';

// Checkbox type Text

.input-wrapper {
    display: block;
    position: relative;
    margin-bottom: 24px;
}

// .input-wrapper:nth-child(3){
//     margin-bottom: 0;
// }

.input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 2px solid $darkBlue;
    border-radius: 4px;
    outline: none;
    padding: 16px;
    background: none;
}

.label {
    position: absolute;
    left: 16px;
    padding: 0;
    background-color: $white;
    color: rgba($darkGrey, .6);
    font-size: 1rem;
    transition: .3s;
    transform: translateY(-50%);
    top: 50%;
    z-index: -1;
}

.input:focus+.label {
    background-color: $white;
    left: 12px;
    color: $darkBlue;
    font-size: .9rem;
    font-weight: 500;
    padding: 2px 4px;
    top: 0;
    z-index: 1;
}

.input:not(:placeholder-shown).input:not(:focus)+.label {
    background-color: $white;
    left: 12px;
    color: $darkBlue;
    font-size: .9rem;
    font-weight: 500;
    padding: 2px 4px;
    top: 0;
    z-index: 1;
}

.input:focus,
.input:active {
    border: 2px solid $lightBlue;
}

.icon {
    background: url('../images/iconEyeOpen.svg') 0 0 no-repeat;
    background-size: contain;
    cursor: pointer;
    display: block;
    height: 24px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;


}

.icon-eyeClose {
    @extend .icon;
    background: url('../images/iconEyeClose.svg') 0 0 no-repeat;
}

.icon-close {
    background: url('../images/iconClose.svg');
    background-color: $lightBlue;
    border-color: $lightBlue;
    height: 24px;
    width: 24px;
}

// Checkbox

.checkbox[type="checkbox"] {
    display: none;
}

.checkboxLabel {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.1rem;
    position: relative;
    vertical-align: middle;

    &:before {
        content: '';
        display: block;
        border: 2px solid $darkBlue;
        border-radius: 4px;
        height: 24px;
        margin-right: 12px;
        width: 24px;
        transition: all .3s;
    }

    span {
        max-width: 80%;
    }
}

.checkbox[type="checkbox"]:checked+.checkboxLabel::before {
    background-color: $lightBlue;
    background-image: url('../images/iconCheck.svg');
    border-color: $lightBlue;
}

.activeCheckboxError {
    color: $red;
}

.select {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 2px solid $darkBlue;
    border-radius: 4px;
    outline: none;
    padding: 16px;
    background: none;
}

// Errores validación

.inputError {
    border: 2px solid $red;
}

.input:not(:placeholder-shown).input:not(:focus)+.label.labelError {
    color: $red;
}

.inlineError {
    color: $red;
    font-size: 1rem;
    margin: 0;
    margin-top: -16px;
    margin-bottom: 24px;
    padding: 0;
}

.errorValidation {
    color: $red;
    display: none;
    font-size: 1em;
    margin-top: -16px;
    margin-bottom: 24px;
}

.showErrorMessage {
    display: block !important;
}

.pillGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.pill {
    background-color: #EEEEEE;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    margin-right: 16px;
    padding: 8px 16px;

    &:last-child {
        margin-right: 0;
    }

    .check {
        background-image: url('/images/iconCheckWhite.svg');
        background-size: contain;
        display: none;
        height: 16px;
        margin-right: 8px;
        width: 16px;
    }

    span {
        font-size: 1em;
    }

}

.pillActive {
    background-color: $lightBlue;

    span {
        color: $white;
    }
}

/* input file */

.previewWrapper {
    background-color: $white;
    border: 2px dashed rgba($darkGrey, .2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 24px;

    .imgUserPreview {
        border-radius: 200px;
        height: 180px;
        object-fit: cover;
        width: 180px;
    }

    p {
        margin-bottom: 8px;
        margin-top: 0;
    }

    span {
        margin-bottom: 8px;
    }

    #previewBtn {
        @extend .btn-secondary;
        padding: 16px 24px;
        width: 50%;
    }
}

.previewWrapperActive {
    border: 2px solid rgba($darkGrey, .2);
}

.previewWrapperSelected {
    border: none;
    padding: 0;

    .imgUserPreview {
        border: 2px solid $darkBlue;
    }
}